@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css);

html, body {
  width:100%; 
  height:100%;
  margin: 0;
}

h1 {
  font-family: 'Gilroy';
  src: url('fonts/Gilroy-Medium.eot');
  src: local('☺'), url('fonts/Gilroy-Medium.woff') format('woff'), url('fonts/Gilroy-Medium.ttf') format('truetype'), url('fonts/Gilroy-Medium.svg') format('svg');
  font-weight: normal;
  font-style: normal;
  color: black;
}
h3 {
  font-family: 'Gilroy';
  src: url('fonts/Gilroy-Medium.eot');
  src: local('☺'), url('fonts/Gilroy-Medium.woff') format('woff'), url('fonts/Gilroy-Medium.ttf') format('truetype'), url('fonts/Gilroy-Medium.svg') format('svg');
  font-weight: normal;
  font-style: normal;
  color: black;
}
p {
  font-family: 'Gilroy';
  src: url('fonts/Gilroy-Medium.eot');
  src: local('☺'), url('fonts/Gilroy-Medium.woff') format('woff'), url('fonts/Gilroy-Medium.ttf') format('truetype'), url('fonts/Gilroy-Medium.svg') format('svg');
  font-weight: normal;
  font-style: normal;
  color: black; 
}

div.block{
  border-radius: 20px;
  width: 250px;
  height: 380px;
  position: absolute;
  top: 35%;
  left: 50%;
  margin: -125px 0 0 -125px;
  background: rgba(255, 255, 255, 0.45);
}
video.avatar {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin: 0 auto;
  margin-top: 5px;
  filter:opacity(100%);
}
.header {
  position: relative;
  text-align: center;
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
  color: white;
}
.logo {
  width: 50px;
  fill: white;
  padding-right: 15px;
  display: inline-block;
  vertical-align: middle;
}
.inner-header {
  height: 65vh;
  width: 100%;
  margin: 0;
  padding: 0;
}
.flex {
  /*Flexbox for containers*/
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.waves {
  position: relative;
  width: 100%;
  height: 15vh;
  margin-bottom: -7px;
  /*Fix for safari gap*/
  min-height: 100px;
  max-height: 150px;
}
.content {
  position: relative;
  height: 20vh;
  text-align: center;
  background-color: white;
}

/* Animation */
.parallax>use {
  animation: move-forever 25s cubic-bezier(.55, .5, .45, .5) infinite;
}
.parallax>use:nth-child(1) {
  animation-delay: -2s;
  animation-duration: 7s;
}
.parallax>use:nth-child(2) {
  animation-delay: -3s;
  animation-duration: 10s;
}
.parallax>use:nth-child(3) {
  animation-delay: -4s;
  animation-duration: 13s;
}
.parallax>use:nth-child(4) {
  animation-delay: -5s;
  animation-duration: 20s;
}


.social a {
    text-align: center;
    width: 48px;
    height: 48px;
    float: left;
    background: #fff;
    box-shadow: 0 2px 4px rgba(0,0,0,0.15), inset 0 0 50px rgba(0,0,0,0.1);
    border-radius: 15px;
    margin: 0 10px 10px 0;
    padding: 6px;
    color: #000;
    font-size: 40px;
    background: rgba(255, 255, 255, 0.55);
}
.github a{
    transform: translate(60px,17px);
    -webkit-transform: translate(60px,17px); /** Chrome & Safari **/
    -o-transform: translate(60px,17px); /** Opera **/
    -moz-transform: translate(60px,17px); /** Firefox **/
    text-align: center;
}
.telegram a{
    transform: translate(50px,17px);
    -webkit-transform: translate(50px,17px); /** Chrome & Safari **/
    -o-transform: translate(50px,17px); /** Opera **/
    -moz-transform: translate(50px,17px); /** Firefox **/
    text-align: center;
}
.github a:hover {
  transition: 1s;
  background: #191919; color: rgba(205, 214, 219, 1);
  font-size: 40px;
}
.telegram a:hover {
  transition: 1s;
  background: SteelBlue; color: rgba(205, 214, 219, 1);
  font-size: 40px;
}

.typewrite > .wrap { 
  border-right: 0.08em solid black

}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@keyframes move-forever {
  0% {
    transform: translate3d(-90px, 0, 0);
  }
  100% {
    transform: translate3d(85px, 0, 0);
  }
}
/*Shrinking for mobile*/
@media only screen and (max-width:780px) {
  .waves {
    height: 40px;
    min-height: 40px;
  }
  .content {
    height: 30vh;
  }
  h1 {
    font-size: 24px;
  }
}